<%= form_tag new_game_score_path(@game), method: :get do %>
  <%= link_to 'Back', games_path, role: "button", class:"btn btn-danger" %>
  <%= submit_tag 'Add scores', class:"btn btn-success", autofocus: true %>
<% end %>

<%= content_tag :table, class: "lower table table-stripped table-bordered" do %>
  <thead>
    <tr class="active">
      <th>
        Game
      </th>
      <% @players.each do |p| %>
        <th>
          <%= p.name %>
        </th>
      <% end %>
    </tr>
    <% unless @sums.empty? %>
      <tr class="success">
        <th>
          Sums
        </th>
        <% @players.each do |p| %>
          <th>
            <%= @sums[p.id] %>
          </th>
        <% end %>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% @scores.each_with_index do |score, index| %>
      <tr>
        <td>
          <%= @scores.count - index %>
        </td>
        <% @players.each do |player| %>
          <td>
            <%= score[player.id].value %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
<% end %>
